@import 'styles/Variables';

.button {
  cursor: pointer !important;
  display: inline-flex !important;
  align-items: center !important;
  border: 1px solid transparent !important;
  border-color: rgb(189, 139, 19) !important;
  background-color: rgb(189, 139, 19) !important;
  text-transform: uppercase !important;
  padding: 1rem 2.5rem !important;
  font-size: 1.6rem !important;
  appearance: none !important;
  font-weight: $font-weight-bold !important;

  color: white !important;
  border-color: #bd8b13;
  background-color: #bd8b13;

  &.button-primary {
    color: var(--color-white);
    border-color: rgb(189, 139, 19);
    background-color: rgb(189, 139, 19);
  }

  &.button-secondary {
    color: var(--color-white);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  &:hover {
    border-color: rgb(189, 139, 19) !important;
    background-color: var(--color-white) !important;
    color: rgb(189, 139, 19) !important;
  }

  &:focus {
    outline: 1px dotted;
    outline: 1px auto -webkit-focus-ring-color;
  }
}
