@import 'styles/Variables';

#homes-list {
  margin-top: 5rem;
}

.list-item {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // margin-bottom: 6rem;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
    gap: 4rem;
  }

  h3 {
    // margin-top: 0 !important;
  }
  p {
    margin: 0;
  }

  p:first-of-type {
    margin-top: 2rem;
  }

  p:last-of-type {
    margin-bottom: 2rem;
  }

  a.learnMore {
    margin-top: 2rem !important;
  }

  .imageWrap {

  }
}

.image {
  width: 100%;

  @media (min-width: $breakpoint-small) {
    width: auto;
  }

  @media (min-width: $breakpoint-small) {
    min-width: 30rem;
  }

  @media (min-width: $breakpoint-medium) {
    min-width: 40rem;
  }
}

.content {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}
